body {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#container {
	max-width: 100%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}
#photo-container, #frame-container {
	display: inline-block;
	position: relative;
}

#apply {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#frame-selector {
    padding: 10px 20px; /* 调整按钮的内边距以增加按钮的大小 */
    font-size: 50px; /* 调整按钮的字体大小 */
}

button {
    padding: 10px 20px; /* 调整按钮的内边距以增加按钮的大小 */
    font-size: 50px; /* 调整按钮的字体大小 */
}

#title{
	color:white;
	text-align: center;
	text-size: 10rem;
}

#photo-input{
	padding: 10px 20px; /* 调整按钮的内边距以增加按钮的大小 */
	font-size: 50px; /* 调整按钮的字体大小 */
}

#titlediv{
	background-color: rgba(36,15,101);
	padding:30px;
	width: 100%;
}

#butt{
	padding: 20px;
}

#int{
	margin:20px;
}

#sel{
	margin: 20px;
}

#dow{
	margin: 20px;
}


    @media (max-width: 768px) {
      #photo {
        max-width: 100%;
        height: auto;
      }
      #canvas {
        max-width: 100%;
        height: auto;
      }
	  
	  #photo-input{
	  	padding: 20px 30px; /* 调整按钮的内边距以增加按钮的大小 */
	  	font-size: 25px; /* 调整按钮的字体大小 */
	  }
	  
	  #titlediv{
	  	background-color: yellow;
	  	padding:10px;
	  }
	  
	  #butt{
	  	background-color: greenyellow;
	  	padding: 35px;
	  }
    }
	
