#container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
#photo-container, #frame-container {
	display: inline-block;
	position: relative;
}

#apply {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#title{
	text-align: center;
}
#frame-section {
    margin: 0px;
    padding: 10px;
}

button {
    padding: 10px 20px; /* 调整按钮的内边距以增加按钮的大小 */
    font-size: 18px; /* 调整按钮的字体大小 */
}

#titlediv{
	background-color: yellow;
	padding:10px;
}

#butt{
	background-color: greenyellow;
	padding: 20px;
}

    @media (max-width: 768px) {
      #photo {
        max-width: 100%;
        height: auto;
      }
      #canvas {
        max-width: 100%;
        height: auto;
      }
    }