#container {
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
#photo-container, #frame-container {
	display: inline-block;
	position: relative;
}

#apply {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#title{
	text-align: center;
	color: white;
}
#frame-selector {
    padding: 10px 20px; /* 调整按钮的内边距以增加按钮的大小 */
    font-size: 50px; /* 调整按钮的字体大小 */
}

button {
    padding: 10px 20px; /* 调整按钮的内边距以增加按钮的大小 */
    font-size: 50px; /* 调整按钮的字体大小 */
}

#photo-input{
	padding: 25px 30px; /* 调整按钮的内边距以增加按钮的大小 */
	font-size: 50px; /* 调整按钮的字体大小 */
}

#titlediv{
	background-color: rgba(54,11,181,1);
	padding:10px;
}

#butt{
	background-color: greenyellow;
	padding: 20px;
}

    @media (max-width: 768px) {
      #photo {
        max-width: 100%;
        height: auto;
      }
      #canvas {
        max-width: 100%;
        height: auto;
      }
	  
	  #photo-input{
	  	padding: 20px 30px; /* 调整按钮的内边距以增加按钮的大小 */
	  	font-size: 25px; /* 调整按钮的字体大小 */
	  }
	  
	  #titlediv{
	  	background-color: yellow;
	  	padding:10px;
	  }
	  
	  #butt{
	  	background-color: greenyellow;
	  	padding: 35px;
	  }
    }